

/*finance-hub Navigation styles-*/
nav {
  background-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; 
  justify-content: space-between;
  align-items: center; 
}


/* .brand-logo-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
} */

.brand-logo {
  height: 70px;
  width: auto;
  top: 10px;
  left: 0px;
  position: absolute;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: flex-end; 
  justify-content: center; 
  margin-top: -15px;
}


nav ul li a {
  display: flex;
  align-items: flex-end; 
  justify-content: center; 
  color: #fff;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  border-right: 1px solid #ffffff; 
}

/* Remove the right border from the last link */
nav ul li:last-child a {
  border-right: none;
}

nav ul li a:hover{
  background-color: #cccccccc;  
  color: #000000;  
}

nav ul li a.active {
  background-color: #cccccccc;  
  color: #000000; 
}


/* Hamburger menu styles-------------------------------------------------- */
.menu-toggle {
   display: none; /* not to show in pc size */
}


/* Styles for when the menu is active */
.menu-toggle.active .bar:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
transform: rotate(-45deg) translate(5px, -5px);
/* opacity: 0; */
}

.menu-toggle.active .bar:nth-child(3) {
/* transform: rotate(-45deg) translate(5px, -5px); */
opacity: 0;
}


/* Mobile view nav styling for smaller screen */
@media (max-width: 768px) {
  .brand-logo{
    height: 50px;
    width: auto;
    top: 0px;
    left: 1px;
    position: absolute;
  }

  .menu-toggle {
      display: flex;
      float: right;
      margin-right: 10px;
      width: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  #mobile-menu{
    right: 5px;
   
   }

  .menu-toggle .bar {
      height: 3px;
      width: 30px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
  }

  .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: left;
      position: absolute;
      top: 65px; 
      left: 0;
      background-color: #333;
      z-index: 1;
  }

  .nav-menu.active {
      display: flex;
  }

  nav{
    height: 50px;
  }

  nav ul {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 0;
  }

  nav ul li {
      width: 100%;
      text-align: left;
  }

  nav ul li a {
      width: 100%;
      padding: 12px 16px;
      align-items: center;
      text-align: left;
      transition: color 0.3s ease; 
  }
}



