/* Footer styles */
footer {
    background-color: #333;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    box-sizing: border-box; 
    position: relative;
    min-width: 100%;
    /* min-height: 200px;  */
  }
  
  .footer-left {
    text-align: left; 
    color: #ddd;
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    margin-bottom: 50px;
  }
  
  .footer-right { 
    text-align: right; 
    color: #ddd;
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    margin-bottom: 50px;
  }
  
  .social-links,
  .trading-broker {
    display: inline-flex;
    gap: 15px;
  }
  
  
  .footer-mid {
    position: absolute; 
    bottom: 10px; 
   /* left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    width: 100% !important; 
    text-align: center; 
  }
  
  .footer-mid p {
    font-weight: bold; 
    color: #ddd;
  }
  
  .footer-mid a {
    color: white;
    font-weight: normal;
    font-size: 15px;
    margin: 0 10px;
  }
  
  .footer-mid a:hover {
    color: blue;
  }

  .footer-mid .active {
    color: blue;
  }
  
  
  .social-links a img,
  .trading-broker a img {
    width: 24px;
    height: auto;
    transition: transform 0.0s, opacity 0.3s;
  }
  
.social-links a img:hover,
.trading-broker a img:hover {
  transform: scale(2);
  opacity: 0.8;
  transition: transform 0.3s, opacity 0.3s; /* Smooth transition */
}
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left,
    .footer-right,
    .footer-mid {
      align-items: center;
      text-align: center;
    }
  
    .footer-left {
      margin-bottom: 5px;
    }
    .footer-right {
      margin-bottom: 70px;
    }
    .footer-mid a {
      font-size: 10px;
    }
  }