
/* Header styles */
header {
    background-color: #333;
    text-align: center;
    padding: 0;
    position: relative; 
    top: 0;
    left: 0;
    min-width: 100%; 
    z-index: 998;
}

header h1 {
    display: none;
    /* font-size: 2rem;
    padding: 1rem;
    color: #fff;
    margin-top: 39px;
    font-weight: bold; */
}

@media (max-width: 768px) {
    header h1 {
        display: block;
        margin-top: 40px;
        font-size: 2rem;
        padding: 1rem;
        color: #fff;
        font-weight: bold;
    }
}

/* navigation style via global nav css */


/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.finance {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 115px;
    margin-bottom: 30px;
    padding-top: 0;
    padding: 40px;
    background-color: #e9e9e9;
    display: grid;
    grid-template-columns: 70% 27%; /* 4fr 1.5fr =  80% and 20% split */
    grid-gap: 20px; 
  }

  .finance-content-wrapper {
    display: contents; /* This makes sure the content-wrapper does not interfere with the grid layout */
  }


  /* left column styling------------- */
.finance .left-column {
    grid-column: 1;
    padding-right: 50px;
}
  

iframe{
    width: 80%;
}


.finance h1 {
    color: #000;
    font-size: 2.4em;
    margin-top: 0;
}

.finance h2 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;  /*create the horizontal line at the bottom */
    padding-bottom: 5px;
}


.finance p {
    margin-bottom: 15px;
}


/* right column styling--------- */
.finance .right-column{
    grid-column: 2;
    background-color: #cccccc;
    padding: 20px; 
    height: 700px;
}

.right-column h3{
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    font-size: 1.6em;
    margin-top: 15px; 
   }
 
   .right-column ul{
     list-style-type: none;
     padding-left: 0; 
     margin-left: 10px; 
   }
 
  .right-column li{
     padding: 5px;
     /* font-size: 1em; */
   }
 
  .right-column li:hover{
    background-color: #555;
    color: #fff;
    cursor: pointer;
   }


/* mobile responsive styling-------- */
   @media (max-width: 768px) {
    .finance {
        grid-template-columns: 1fr; /* Single column layout */
        justify-content: center;
        max-width: 75%;
        margin-top: -15px;

    }
    
    .finance .left-column {
        grid-column: 1 / -1; /* Make both columns span full width */
        margin-bottom: 20px; /* Add some space between sections */
        padding: 0;
    }

    .finance .right-column {
        grid-column: 1 / -1; /* Make both columns span full width */
        margin-bottom: 20px; /* Add some space between sections */
        padding: 15px;
    }

    iframe {
        min-width: 100%;
    }
}



/* Footer styles via global footer css */