/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ddd;
}


/* Header styles */
header {
    background-color: #000;
    /* color: #ffffff; */
    text-align: center;
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
}

header h1 {
    font-size: 28px;
    /* padding: 1rem; */
    color: #fff;
    /* margin-top: 0px; */
    /* font-weight: bold; */
}

.brand-logo {
    height: 60px;
    width: auto;
    top: 5px;
    left: 5px;
    position: absolute;
  }

@media (max-width: 768px) {
    header h1 {
        /* margin-top: 0px; */
        font-size: 27px;
        margin-left: 40px;
    }
    .brand-logo {
        height: 50px;
        width: auto;
        top: 5px;
        left: 0px;
      }
}



.privacy-policy {
    width: 60%; 
    margin: 0 auto; 
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .privacy-policy {
        margin-top: 75px;
        width: 80%;
    }
}

.date-time {
    color: gray;
    font-size: 0.9em;
    margin-bottom: 20px;
}


/* Footer styles via global footer css */
