/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header p{
    padding: 0px 250px;
}

header h1 {
    margin: 0;
}

.brand-logo {
    height: 70px;
    width: auto;
    top: 10px;
    left: 0px;
    position: absolute;
  }

.our-mission {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


.our-mission h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.our-mission ul {
    list-style-type: none;
    padding-left: 0;
}

.our-mission ul li {
    margin: 10px 0;
}

.our-mission ul ul {
    margin-left: 20px;
    list-style-type: disc;
}

.mission-lastpara p{
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    padding: 20px 250px;
    margin: 0 auto;
}

.mission-lastpara a {
    color: white;
    text-decoration: underline;
}


@media (max-width: 1200px) {
    .brand-logo {
        height: 50px;
        width: auto;
        top: 5px;
        left: 0px;
      }
    .our-mission{
        padding: 20px;
        max-width: 85%;
        margin: 0 auto;
    }
    header p{
    padding: 0px 30px;
    }
    .mission-lastpara p{
    padding: 20px 25px;
    }
}
