
/* Header styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
    position: relative; /* Fixed position to keep it at the top */
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 998;
}

header h1 {
    font-size: 2rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    margin-top: 60px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        margin-top: 80px;
    }
}

/* Navigation styles via global nav css */


/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


.termsofuse {
    width: 80%; 
    margin: 0 auto; 
    padding-bottom: 30px;
    background-color: #f9f9f9;
}

/* Footer styles via global footer css*/
