

/* Overall body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styling */
header h1 {
    font-size: 30px;
    text-align: center;
    /* padding: 5px 0; */
    color: #fff;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        /* margin-top: 7px; */
        margin-left: 80px;
        font-size: 22px;
        /* padding: 1rem; */
        color: #fff;
        font-weight: bold;
      }
}


/* main styling via quizzes.css------------------------ */