/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header p{
    padding: 0px 350px;
}

header h1 {
    margin: 0;
}

.brand-logo {
    height: 70px;
    width: auto;
    top: 10px;
    left: 0px;
    position: absolute;
  }

.our-Plans-container {
    padding: 20px;
    width: 50%;
    margin: 10px auto;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


.our-Plans-container h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.our-Plans-container ul {
    /* list-style-type: none; */
    padding-left: 50px;
}

.our-Plans-container ul li {
    margin: 10px 0;
}


.our-Plans-container ul li a {
    color: #000;
    text-decoration: none;
}
.our-Plans-container ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
}

.cta-section{
    margin: 0;
    margin-bottom: -27px;
    margin-top: 50px;
}

.cta-section p{
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    padding: 20px 100px;
    margin: 0 auto;
    margin-top: 20px;
    /* margin-bottom: 0; */
}

.cta-section a {
    color: white;
    text-decoration: underline;
}

.fa-arrow-up-right-from-square{
    font-size: 13.5px;
    color: blue;
  }

@media (max-width: 1200px) {
    .brand-logo {
        height: 50px;
        width: auto;
        top: 6px;
        left: 0px;
      }
    .our-Plans-container{
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }
    header p{
    padding: 0px 30px;
    }

    .cta-section{
        margin-bottom: -16px;
    }
    .cta-section p{
    padding: 20px 25px;
    }
}
