
/* Header styles */
header {
    background-color: #333;
    text-align: center;
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 998;
}

header h1 {
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    margin-top: 100px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        margin-top: 45px;
    }
}


/* Navigation styles global nav css--------------------------------- */


/* Cart icon and container styles via global cart css--------------- */



/* body styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


/* course-card sytling via global course-card css-------------------------- */
#othercourses {
max-width: 100%;
}


/* Style for the course categories */
.course-category {
margin-bottom: 30px;
}

/* Style for the course grid-------------------------- */
.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 3px solid #ddd;  
  padding-bottom: 5px;
  }

/* Style for the headings */
.course-category h1 {
text-align: center;
margin-top: 40px;
font-size: 2em;
color: #fff;
background-color: #333;
padding: 8px;
margin-bottom: 10px;
}

#othercourses a {
  text-decoration: none;
}

@media (max-width: 768px){
  .course-category{
    margin-top: 80px;
  }
}


/* course selection last part styling--------------- */
.typesofcourses {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  gap: 150px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.typesofcourses p a {
  padding: 20px 40px;
  border: 2px solid black;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.typesofcourses :hover{
  background-color: #333;
  color: #fff;
}

.othercourses {
  /* font-weight: bold; */
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.othercourses p a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.othercourses p a:hover{
  text-decoration: underline;
  
}

.newletter {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}


@media (max-width: 768px){
  .typesofcourses{
    gap: 20px;
  }
  .othercourses{
    font-size: 15px;
  }
}





/* footer styles via global footer css */