
/* Header styles */
header {
  /* background-color: #000; */
  text-align: center;
  /* padding: 0; */
  /* position: relative;  */
  /* top: 0; */
  /* left: 0; */
  /* min-width: 100%;  */
  /* z-index: 998; */
}

header h1 {
  font-size: 35px;
  /* padding: 5px 0; */
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  header h1 {
    margin-top: 7px;
    margin-left: 50px;
    font-size: 32px;
    /* padding: 1rem; */
    color: #fff;
    font-weight: bold;
  }
}

/* Navigation styles via global nav css-------------------------*/


/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.blog-container {
  max-width: 100%;
    width: 75%;
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 30px;
    padding: 40px 0 40px 40px;
    /* background-color: #e9e9e9; */
    background-color: #ccc;
    display: grid;
    grid-template-columns: 70% 27%; 
    grid-gap: 20px; 
  }


  .blog-container .left-column {
    grid-column: 1;
    padding-right: 50px;
  }

  .left-column .article {
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 40px;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease; 
  }
  
  .left-column .article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), /* Outset shadow effect on hover */
                0 4px 8px rgba(0, 0, 0, 0.1); /* Maintain the original border shadow */
  }
  
  

  .left-column .article h1 {
    color: #000;
    font-size: 2.4em;
    margin-top: 0;
}

.left-column .article h2 {
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 15px;
    /* border-top: 2px solid #aaa;  */
    padding-top: 15px; 
    padding-bottom: 5px;
}

.left-column .article p {
    margin-bottom: 15px;
}


.left-column .article img {
    height: 200px;
    width: auto;
}

.article .read-more{
  background-color: green;
  /* background-color: darkblue; */
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 16px;
  float: right;
  border-radius: 5px;
  margin-right: 40px;
}


.article .read-more:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}


/* see more and see less styling */
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  margin-top: 20px;
}

.see-less-button,
.see-more-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.see-less-button:hover,
.see-more-button:hover {
  background-color: #0056b3;
}

.see-less-button {
  margin-right: auto;
}

.see-more-button {
  margin-left: auto;
}



/* loading and spin animation styling */
#loading-container {
  position: relative;
  margin-top: 20%;
  /* left: 50%; 
     transform: translate(-50%, -50%);  */
  text-align: center;
  font-size: 18px;
  color: #555;
  /* z-index: 1000;  */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-indicator .fa-spinner {
  font-size: 30px; 
  animation: spin 2s linear infinite;
  color: #555; 
}

.loading-indicator p {        
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

@media (max-width: 786px) {
 /*  .loading-indicator .fa-spinner {
    font-size: 30px; 
    animation: spin 2s linear infinite;
    color: #555; 
  } */
  .loading-indicator p{
    margin-top: 5px;
    font-size: 14px;
    color: #555;
   }
}


/* right column styling  */
.blog-container .right-column {
  grid-column: 2;
  background-color: #e9e9e9; 
  /* border-radius: 10px; */
  height: 600px;
  width: 280px;
}

  .blog-container .right-column h3{
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    font-size: 1.6em;
    margin-top: 15px; 
    margin-left: 10px;
   }
 
   .blog-container .right-column ul{
     list-style-type: none;
     padding-left: 0; 
     margin-left: 15px; 
   }
 
   .blog-container .right-column li{
    color: #000000;
     padding: 10px;
     /* font-size: 1em; */
     border-bottom: 1px solid #000;
     width: 80%;
   }
 
   .blog-container .right-column li:hover{
    background-color: #555;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
   }

   #category-list li.active {
    font-weight: bold;
    background-color: #555;
    color: #fff;
    text-decoration: none;
}
 

/* Media Query for Mobile Devices */
@media (max-width: 1200px) {
  .blog-container {
    margin-top: 60px;
    /* margin: 0; */
    padding: 0;
    grid-template-columns: 1fr; /* Single column layout for full body */
    grid-template-rows: auto auto; 
    justify-content: center;
    width: 95%;
    border-radius: 5px;
  }

  .blog-container .left-column{
    grid-column: 1 / -1; /* Make both columns span full width */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding: 0 10px;
    
  }

  .left-column .article{
    width: 85%;
    margin: 20px auto;
  }

 .left-column .article img {
      height: 150px; 
      width: auto;
      /* object-fit: cover;
      object-position: center; */
  }

 .left-column .article h2 {
      font-size: 30px;
  }
  .left-column .article p {
    padding-right: 20px;
  }

  .article .read-more {
    margin-right: 40px;
  }

  .blog-container .right-column {
    grid-column: 1 / -1; /* Make both columns span full width */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px; 
    /* padding: 0 0px; */
    width: 90%;
  }
}



/* Footer styles via global footer css */