/* Button styles */
#dark-mode-toggle-container {
    /* background: transparent;  */
    top: 9px;
    right: 80px;
    position: absolute;
    /* right: 15px; */
    /* height: 40px; */
    width: 40px;
    border-radius: 50%;
    /* background-color: #fff !important; */
    transition: transform 0.3s, background-color 0.3s;
    z-index: 1000;
}

#dark-mode-button {
    background: transparent; 
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}


@media (max-width: 768px) {
    #dark-mode-toggle-container {
        top: 0;
        right: 120px;
    }
  }

