/* post.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* color: #333; */
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

/* Header styles */
header {
    /* background-color: #000; */
    text-align: center;
  }
  
  header h1 {
    font-size: 29px;
    /* padding: 1rem; */
    color: #ffffffff;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 35px;
  }
  
  @media (max-width: 768px) {
    header h1 {
      margin-top: 0px;
      margin-left: 80px;
      font-size: 25px;
      padding: 5px;
      color: #fff;
      font-weight: bold;
    }
  }


/* loading and spin animation styling */
#loading-container {
   grid-column: 1 / -1; /* Span across all grid columns */
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    color: #555;
    /* z-index: 1000;  */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-indicator .fa-spinner {
    font-size: 30px; 
    animation: spin 2s linear infinite;
    color: #555; 
  }
  
  .loading-indicator p {        
    margin-top: 3px;
    font-size: 14px;
    color: #555;
  }
  
  @media (max-width: 786px) {
    #loading-container {
        margin-top: 30%;
      }
    .loading-indicator .fa-spinner {
      font-size: 30px; 
      animation: spin 2s linear infinite;
      color: #555; 
    }
    .loading-indicator p{
      margin-top: 3px;
      font-size: 14px;
      color: #555;
     }
  }


#news-container{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.news-grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.news-content {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.news-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), /* Outset shadow effect on hover */
              0 4px 8px rgba(0, 0, 0, 0.1); /* Maintain the original border shadow */
}

.news-excerpt,
.news-title,
.news-source,
.news-date {
  padding: 0 15px; 
  margin: 0;
}

.news-image {
  /* padding: 0 ; */
  /* margin: 0 ;  */
  border-radius: 10px 10px 0 0;
  /* display: block;  */
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-source {
  /* padding-top: 5px; */
  font-size: 1em;
  color: #666;
  /* margin-bottom: 5px; */
}

.news-date{
  display: none; /* not displaying the date */
}

.news-title {
  font-size: 1.1em;
  font-weight: bold;
  /* margin-bottom: 10px; */
}
.news-title:hover {
  color: #007bff;
  cursor: pointer;
}

.news-excerpt {
  font-size: 0.9em;
  color: #333;
  /* margin-bottom: 20px; */
  padding-bottom: 15px;
}



@media (max-width: 768px) {
  #news-container{
    margin-top: 55px;
  }
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}








