
/* Header styles */
header {
    background-color: #333;
    text-align: center;
    padding: 0;
    position: relative; 
    top: 0;
    left: 0;
    min-width: 100%; 
    z-index: 998;
}

header h1 {
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    margin-top: 39px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        margin-top: 78px;
    }
}


/* navigation style via global nav css */


/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

iframe{
    width: 50%;
}

@media (max-width: 768px){
    iframe{
        min-width: 100%;
    }
}

.finance {
    max-width: 95%;
    margin: 40px auto; /* Center the element horizontally */
    padding: 40px;
    background-color: #f9f9f9;
}


.finance h1 {
    color: #000;
    font-size: 2.4em;
    margin-top: 0;
}

.finance h2 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 15px;
}

.finance h3 {
    font-size: 1.4em;
    margin-top: 15px;
    border-top: 2px solid #ddd;  /*create the horizontal line at the bottom */
    padding-top: 20px;
}

.finance p {
    margin-bottom: 15px;
}




/* Footer styles via global footer css */