

/*Global Navigation styles--------------------------------------------- */
nav {
  background-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; 
  justify-content: space-between;
  align-items: center; 
}


.brand-logo-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.brand-logo {
  height: 70px;
  width: auto;
  position: absolute;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end; /* Align items at the bottom */
  justify-content: center; /* Center items horizontally */
  height: 70px; 
}


nav ul li a {
  display: flex;
  align-items: flex-end; /* Align text at the bottom */
  justify-content: center; /* Center text horizontally */
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px;
  font-weight: bold;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

nav ul li a:hover {
  color: lightyellow;
  transform: scale(1.05); 
}

nav ul li .active{
  color: lightyellow;
  text-decoration: underline;
}


/* Hamburger menu styles-------------------------------------------------- */
.menu-toggle {
   display: none; /* not to show in pc size */
}


/* Styles for when the menu is active */
.menu-toggle.active .bar:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
transform: rotate(-45deg) translate(5px, -5px);
/* opacity: 0; */
}

.menu-toggle.active .bar:nth-child(3) {
/* transform: rotate(-45deg) translate(5px, -5px); */
opacity: 0;
}


/* nav styling for smaller screen */

/* Mobile view */
@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
      width: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .menu-toggle .bar {
      height: 3px;
      width: 30px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
  }

  nav ul{
    height: auto;
  }

  .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: left;
      position: absolute;
      top: 40px; 
      left: 0;
      background-color: #333;
      z-index: 1;
  }

  .nav-menu.active {
      display: flex;
  }

  nav ul {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
  }

  nav ul li {
      width: 100%;
      text-align: left;
  }

  nav ul li a {
      width: 100%;
      padding: 10px 16px;
      align-items: center;
      text-align: left;
      transition: color 0.3s ease; /* Add transition for hover effect */
  }

  .brand-logo-container {
      display: none;
  }
}



