
/* Header styles */
header {
    background-color: #333;
    text-align: center;
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 998;
}

header h1 {
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    margin-top: 39px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        margin-top: 45px;
    }
}


/* Navigation styles global nav css--------------------------------- */


/* Cart icon and container styles via global cart css--------------- */



/* body styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


/* course-card sytling via global course-card css-------------------------- */

#othercourses {
max-width: 100%;
}


/* Style for the course categories */
.course-category {
margin-bottom: 30px;
}

/* Style for the headings */
.course-category h1 {
text-align: center;
margin-top: 40px;
font-size: 2em;
color: #fff;
background-color: #333;
padding: 8px;
margin-bottom: 10px;
}

@media (max-width: 768px){
  .course-category{
    margin-top: 80px;
  }
}

/* .course-category hr {
border: none; 
height: 5px; 
background-color: #333;
margin-bottom: 20px; 
width: 100%;/

} */


/* Style for the course grid-------------------------- */
.course-grid {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
border-bottom: 3px solid #ddd;  /*create the horizontal line at the bottom */
padding-bottom: 5px;
}



#othercourses a {
  text-decoration: none;
}








/* footer styles via global footer css */