
/* Header styles */
header {
    background-color: #333;
    text-align: center;
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 998;
}

header h1 {
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    margin-top: 39px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        margin-top: 78px;
    }
}


/* Navigation styles global nav css */


/* Cart icon and container styles */
#cart-icon {
  cursor: pointer;
  font-size: 1.5em;
  position: fixed; 
  top: 0px; 
  right: 10px; 
  z-index: 1000; 
  transition: transform 0.3s, background-color 0.3s; 
  padding: 5px; 
  border-radius: 50%; 
}

#cart-icon:hover {
  transform: scale(1.2); /* Zoom in effect */
  background-color: #f3d8d8; 
}


/* Cart container styles */
.cart-container {
  display: none;
  position: fixed; 
  top: 0;
  right: 0;
  width: 300px;
  padding: 20px;
  height: 80%;
  margin: 40px 20px 0 0;
  background-color: transparent;
  border-radius: 10px;
  /* background-color: #fff;
  opacity: 0.9; */
  backdrop-filter: blur(80px);
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1000;
}


.cart-container h2 {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.close-cart {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
  transition: color 0.3s; /* Transition for color */
}

#cart .buyall {
  cursor: pointer;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  margin-top: 30px;
  padding: 7px;
  color: #000;
  z-index: 1; /* Ensure text is above the pseudo-element */
  font-weight: bold;
  border-radius: 20px;
  width: 250px;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#cart .buyall:hover {
  background-color: rgb(255, 255, 255, 0.5);
}


/* cart items styling */
.cart-item {
  border-bottom: 1.5px solid #eee;
  display: flex;
  padding: 5px 0;
  margin-top: 10px;
  align-items: baseline;
  text-align: center;
  justify-content: space-around;
  max-width: 100%;
  position: relative; /* Ensure positioning context */
}

.cart-item .delete-item {
  color: #000;
  background: transparent;
  font-size: 20px;
  align-self: center;
}


.cart-item:last-child {
  border-bottom: none;
}

.cart-item h4 {
  position: absolute; 
  top: 0; 
  align-self: center;
  padding: 7px 6px;
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 15px;
  margin: 0; 
}

.cart-item img {
  height: 70px;
  width: auto;
}

.cart-item p {
  margin-bottom: 0;
  color: #000;
  align-self: center;
}



/* body styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

#othercourses {
max-width: 100%;
}


/* Style for the course categories */
.course-category {
margin-bottom: 30px;
}

/* Style for the headings */
.course-category h1 {
text-align: center;
margin-top: 40px;
font-size: 2em;
color: #fff;
background-color: #333;
padding: 8px;
margin-bottom: 10px;
}

@media (max-width: 768px){
  .course-category{
    margin-top: 80px;
  }
}

.course-category hr {
border: none; /* Remove default border */
height: 5px; 
background-color: #333;
margin-bottom: 20px; 
width: 100%;/

}


/* Style for the course grid-------------------------- */
.course-grid {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
border-bottom: 3px solid #ddd;  /*create the horizontal line at the bottom */
padding-bottom: 5px;
}

/* Style for each course card */
.other-course {
background-color: #eeeee6;
border: 1px solid #ddd;
border-radius: 5px;
padding: 20px;
text-align: center;
width: 23%;
margin: 10px;
box-sizing: border-box;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out;
background-size: cover; /*added to size the img*/
background-position: center; /*added to center the img*/

}

.other-course:hover {
transform: scale(1.05);
}


.other-course img {
max-width: 100%;
height: auto;
border-radius: 5px;
/* margin-bottom: 0px; */
}

.other-course h3 {
font-size: 1.3em;
/* margin: 10px 0; */
background-color: #000;
color: #ddd;
padding: 8px;
text-decoration: none;
}

#othercourses a {
  text-decoration: none;
}

.other-course p {
font-size: 1em;
margin: 10px;
color: #666;
}

.price-container {
margin: 10px 0;
/* display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px; */
}

.original-price {
text-decoration: line-through;
color: darkred;

}

.discounted-price {
color: darkblue;
font-size: 1.2em;
font-weight: bold;
margin-right: 10px;
padding-left: 10px;
}

.other-course button {
cursor: pointer;
border: none;
background-color: #555;
color: white;
padding: 10px;
width: 100%; 
position: relative; /* Needed for the hover text to position correctly */
}

.other-course .buttons {
display: flex;
justify-content: center;
gap: 10px; /* Add some space between the buttons */
margin-top: 10px;
}


/* Styles for the hover text */
.hover-text {
position: absolute;
background-color: transparent;
border-radius: 10px;
/* background-color: #fff;
opacity: 0.9; */
backdrop-filter: blur(80px);
color: #000;
text-align: center;
padding: 7px;
width: 80%;
font-size: 15px;
border-radius: 5px;
bottom: 42%; /* Adjust this value to position the text above the button */
right: -35%;
transform: translateX(-50%); 
white-space: nowrap; 
z-index: 1000; /* Ensure it appears above other elements */
}

/* Responsive design */
@media (max-width: 768px) {
.other-course {
    /* width: calc(50% - 40px); Adjust the width to fit 2 cards in a row */
    width: 40%;
}
}

@media (max-width: 480px) {
.other-course {
    width: 80%; /* Full width for small screens */
}
}



/* footer styles via global footer css */