/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #ddd;
}

/* Header styling */
header {
    background-color: #000;
    color: #ffffff;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    margin-top: 0px;
    font-weight: bold;
}

.brand-logo {
    height: 60px;
    width: auto;
    top: 2px;
    left: 5px;
    position: absolute;
  }

@media (max-width: 768px) {
    header h1 {
        padding-top: 25px;
        font-size: 25px;
        margin-left: 60px;
    }
    .brand-logo {
        height: 50px;
        width: auto;
        top: 5px;
        left: 0px;
      }
}




/* main styling-- */
#contact-section {
    display: flex;
    max-width: 100%; 
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px auto;
    justify-content: center;
  }
  

#contact-info {
    width: 600px; 
    max-width: 600px;
    /* margin-right: clamp(10px, calc(-10px + 10vw), 20px); */
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-info a{
    /* color: #000; */
    text-decoration: none;
}

#contact-form {
    width: 600px; 
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

textarea {
    max-width: 96%;
}

button {
    background-color: #444;
    color: #ffffffff;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 50%;
    margin: 0 auto;
    font-weight: bolder;
    /* display: block; */
}

input:focus, 
textarea:focus {
    outline: none;
    /* border: 2px solid #333; */
    box-shadow: 0 0 10px #333;
}

button:hover {
    background-color: #000;
}


/*for mobile and smaller screen styling*/
@media (max-width: 768px) {
    #contact-section {
        margin-top: 0px;
        padding: 20px;
    }
  
    textarea {
        max-width: 92%;
    }
}


/* Footer styles via global footer css*/
