
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative; /* Fixed position to keep it at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    z-index: 998; /* Ensures it stays on top of other content */
}

/* Navigation styles */
nav {
    background-color: #555;
    position: fixed;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 999; /* Ensures it stays on top of other content */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    margin-right: 5px;
    font-weight: bold;
    height: 20px;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
    color: black;
  }
  
  nav ul li .active {
    font-weight: bold;
    color: black;
    background-color: #ddd;
  }

  nav ul li a .brand-logo {
    height: 42px;
    width: 80px;
  }

  nav ul li .home-nav {
    padding: 0px;
  }


/* Cart icon and container styles */
#cart-icon {
    cursor: pointer;
    font-size: 1.5em;
    position: fixed; 
    top: 0px; 
    right: 10px; 
    z-index: 1000; 
    transition: transform 0.3s, background-color 0.3s; 
    padding: 5px; 
    border-radius: 50%; 
}

#cart-icon:hover {
    transform: scale(1.2); /* Zoom in effect */
    background-color: #555; 
}

.close-cart:hover {
    color: #ff0000; 
}
/* Cart container styles */
.cart-container {
    display: none;
    position: fixed; 
    top: 0;
    right: 0;
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cart-container h2 {
    margin-bottom: 10px;
}

.close-cart {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    transition: color 0.3s; /* Transition for color */
}

header h1{
    font-weight: bold;
    margin-top: 50px;
}

@media (max-width: 768px) {
    header h1 {
        margin-top: 85px;
    }
}

/* body styling */
body {
    font-family: 'Arial', sans-serif;
}

#smcourses {
  max-width: 100%;
}


/* Style for the course categories */
.course-category {
  margin-bottom: 40px;
}

/* Style for the headings */
.course-category h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #fff;
  background-color: #333;
  padding: 8px;
}

/* Style for the course grid */
.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Style for each course card */
.smcourse-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 23%;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-size: cover; /*added to size the img*/
  background-position: center; /*added to center the img*/
  
}

.smcourse-card:hover {
  transform: scale(1.05);
}


.smcourse-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  /* margin-bottom: 0px; */
}

.smcourse-card h3 {
  font-size: 1.3em;
  /* margin: 10px 0; */
  background-color: #000;
  color: #ddd;
  padding: 8px;
  text-decoration: none;
}

.smcourse-card p {
  font-size: 1em;
  margin: 10px;
  color: #666;
}

.price-container {
  margin: 10px 0;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; */
}

.discounted-price {
  color: #4018c2;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

.original-price {
  text-decoration: line-through;
  color: #ea1313;
}

.smcourse-card button {
  cursor: pointer;
  border: none;
  background-color: #555;
  color: white;
  padding: 10px;
  width: 100%; 
  position: relative; /* Needed for the hover text to position correctly */
}

.smcourse-card .buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add some space between the buttons */
  margin-top: 10px;
}


/* Styles for the hover text */
.hover-text {
  position: absolute;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 7px;
  width: 80%;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  bottom: 42%; /* Adjust this value to position the text above the button */
  right: -35%;
  transform: translateX(-50%); 
  white-space: nowrap; 
  z-index: 1000; /* Ensure it appears above other elements */
}

/* Responsive design */
@media (max-width: 768px) {
  .smcourse-card {
      /* width: calc(50% - 40px); Adjust the width to fit 2 cards in a row */
      width: 100%;
  }
}

@media (max-width: 480px) {
  .smcourse-card {
      width: 80%; /* Full width for small screens */
  }
}

/* Footer styles */
footer {
    background-color: #333;
    padding: 20px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
    box-sizing: border-box; /* Ensure padding is included in width calculations */
    position: relative;
    /* min-height: 200px;  */
  }
  
  .footer-left {
    text-align: left; /* Ensure text is aligned left */
    color: #ddd;
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    margin-bottom: 50px;
  }
  
  .footer-right { 
    text-align: right; /* Ensure text is aligned right */
    color: #ddd;
    font-size: 1.1em;
    font-weight: bold;
    flex: 1;
    margin-bottom: 50px;
  }
  
  .social-links,
  .trading-broker {
    display: inline-flex;
    gap: 15px;
  }
  
  
  .footer-mid {
    position: absolute; 
    bottom: 10px; /* Adjust as needed */
   /* left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    width: 100% !important; 
    text-align: center; 
  }
  
  .footer-mid p {
    font-weight: bold; 
    color: #ddd;
  }
  
  .footer-mid a {
    color: white;
    font-weight: normal;
    font-size: 15px;
    margin: 0 10px;
  }
  
  .footer-mid a:hover {
    color: blue;
  }
  
  
  .social-links a img,
  .trading-broker a img {
    width: 24px;
    height: auto;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .social-links a img:hover,
  .trading-broker a img:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left,
    .footer-right,
    .footer-mid {
      align-items: center;
      text-align: center;
    }
  
    .footer-left {
      margin-bottom: 5px;
    }
    .footer-right {
      margin-bottom: 70px;
    }
    .footer-mid a {
      font-size: 10px;
    }
  }