/* Header styles */
header {
  background-color: #fff;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998; 
}

/* @keyframes textGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes bgGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */

header h1 {
  font-size: 40px;
  background-color: #fff;
  color: #000;
  margin-top: 0px;
  font-weight: bold;
  font-style: italic;
}

/* header .slogan{
  top: 0;
  font-weight: bolder;
  font-size: 40px;
  font-style: italic;
  color: #000;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 10px;
} */

@media (max-width: 768px) {
  header h1 {
      margin-top: 0px;
      font-size: 1rem;
  }
  /* header .slogan{
    font-size: 15px;
  } */
}


/* Navigation styles via global nav css */
/*home-page nav styling */
.index-page nav ul {
  height: 43px;
}


@media (max-width: 768px) {
  .index-page nav ul{
    height: auto;
  }
}

/* Cart icon and container styling via global cart CSS------------------------------------*/




/* home header images styling */
.home-image1 {
  max-width: 80%;
  height: 400px;
  width: auto;
  margin-top: 40px;
}

@media (max-width: 768px){
  .home-image1{
    margin-top: 100px;
    height: auto;
    width: auto;   
  }
}


/* body styling ------------------------*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.home-page {
  max-width: 80%;
  margin: 0 auto; /* This centers the container horizontally */
  margin-top: 0;
  background: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;

  /* border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
 /* padding: 30px; */
}

.content {
  /* border: 1px solid black; */
  padding: 10px;  
}

.content img {
  max-width: 100%;
  /* height: 300px;
  width: auto; */
  object-fit: cover; /* Ensure the image covers the entire container */
  object-position: center; /* Center the image within the container */
}

.item1 {
 grid-column: 1/2;
 grid-row: 1/2;
}

.item2 {
 grid-column: 2/3;
 grid-row: 1/2;
}

.item3 {
 grid-column: 3/5;
 grid-row: 1/2;
}

.item4 {
 grid-column: 1/2;
 grid-row: 4/5;
}

.item5 {
 grid-column: 2/3;
 grid-row: 4/5;
}

.item6 {
  grid-column: 3/4;
  grid-row: 4/5;
}

@media (max-width: 768px) {
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* home pages last past styling--------------- */

.typesofcourses {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 150px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.typesofcourses p a {
  padding: 20px 40px;
  border: 2px solid black;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.typesofcourses :hover{
  background-color: #333;
  color: #fff;
}

.othercourses {
  /* font-weight: bold; */
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.othercourses p a {
  color: #5759d9;
  text-decoration: none;
}

.othercourses p a:hover{
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}


@media (max-width: 768px){
  .typesofcourses{
    gap: 20px;
  }
  .othercourses{
    font-size: 15px;
  }
}

/* Footer styles via global footer css */