@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
  scroll-behavior: smooth; /*this will let us get to the target in smooth scrolling way instead of directly showing*/
  scroll-padding-top: 130px; 
}


/* Header styles */
header {
  background-color: #000000;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998; 
}


/* Navigation styles via global nav css */



/*css moving animations and styling */

.wrapper {
  /* border: 2px solid black; */
  /* z-index: 1000; */
  margin-top: 20px;
  background-color: #ccc;
  /* background-image: url('/home-page/imgs/bosmhp.webp'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-inline: auto;
  margin-top: 103px;
  height: 50px;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
  justify-content: center;
  mask-image: linear-gradient(
    to right,
   rgba(0,0,0,0),
   rgba(0,0,0,1)20%,
   rgba(0,0,0,1)80%,
   rgba(0,0,0,0)
  );
}

.item {
  width: auto;
  min-width: 250px;
  padding: 0 30px;
  height: 50px;
  display: inline-flex;
  white-space: nowrap;
  font-size: 25px; 
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  left: 100%;
  animation-name: scrollLeft;
  animation-duration: 15s; /* Increased duration */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item a{
  text-decoration: none;
  color: black;
}

.item a:hover{
  color: blue;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150vw); 
  }
}

.item1 { animation-delay: 0s; }
.item2 { animation-delay: 1.875s; }
.item3 { animation-delay: 3.75s; }
.item4 { animation-delay: 5.625s; }
.item5 { animation-delay: 7.5s; }
.item6 { animation-delay: 9.375s; }
.item7 { animation-delay: 11.25s; }
.item8 { animation-delay: 13.125s; }

@media(max-width: 768px){
  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-500vw); /* Increased to ensure full passage */
    }
  }
  .wrapper {
    width: 100%;
    margin-top: 47px;
  }

  .item {
    height: 50px;
  }

}


/*home-page nav styling */



/* Cart icon and container styling via global cart CSS------------------------------------*/


/* new feature prompt styling------------------- */
#featurePrompt {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
   /* margin: 0 40%; it can also be used to center but it wrap the text specifically adjust for different screen */
  background-color: #f0f0f0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 20;
  z-index: 1000; /* Ensure it appears above other content */
}

#featurePrompt button {
  background-color: #007bff;
  float: right; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 468px) {
  #featurePrompt {
    width: 60%;
  }
}



/* home header images styling */
.home-image1 {
  width: 100%; 
  height: auto; 
  display: block; 
  margin-top: 3px; 
  padding: 0; 
  position: relative;
  /* overflow: hidden; */
  z-index: 2;
}


@media (max-width: 768px){
  .home-image1{
    margin-top: 3px;
    height: auto;
    width: 100%;   
  }
}

/* .hometopimg{
  background-color: #ffffff;
  border: 1px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
} */


/* body styling ------------------------*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  /* background: linear-gradient(135deg, #ddd8d0 0%, #b8b5ac 100% ); */
  
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 0;
  background: linear-gradient(135deg, #d4d3cf 0%, #bab8b3 50%,#a2a19e 100%);
  /* background-color: #eeeee6; */
}

.central-line {
  width: 5px;
  height: 1729px;
  top: -100px; /* Move the line 100px higher */
  background-color: black;
  position: absolute;
  left: 50% ;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  /* z-index: 1; */
}

.content::before {
  content: '';
  width: 100px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease;
}

.content:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), -6px -6px 12px rgba(255, 255, 255, 0.5);
}

.content:hover::before {
  width: 86px; /* 100px / 1.05 */
}

/* .content:nth-child(odd) {
  flex-direction: row-reverse; 
}  it is important if we want to reverse the text and image position */

.content:nth-child(odd)::before {
  right: 100%;
}

.content:nth-child(even)::before {
  left: 100%;
}


/* .content1{
  width: 500px;
  margin-left: -700px;
}
.content2{
  width: 500px;
  margin-right: -700px;
} */

.content:nth-child(odd) {
  width: 500px;
  margin-left: 700px;
}
.content:nth-child(even) {
  width: 500px;
  margin-right: 700px;
}

/* inside content styling */
.content {
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
  border-radius: 20px;
  background-color: #eeeee6;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
}

.content h2{
  border-bottom: 1.5px solid #000;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 2.5px;
}

.content p{
  color: #000000;
  /* font-weight: bold; */
  padding: 0 20px;
  margin-top: -10px;
  padding-bottom: 0;
  /* display: flex;
  gap: 5px;  */
  justify-content: center;
}

.content .buttons {
  display: flex;
  gap: 0px; 
  justify-content: center;
  margin-bottom: 15px;
}


.content .contentbtn{
  font-weight: bold;
  width: 110px;
  margin: 5px 10px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}


.rlbtn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #117d2a; 
  box-shadow: 0 3px  #28A745;
  transition: all 0.2s ease; 
}

.rlbtn:active {
  box-shadow: 0 0px; /* Move shadow up to create pressed effect */
  transform: translateY(2px); /* Move the button down slightly */
}

.rlbtn:hover{
  text-decoration: underline 1.5px #fff;
  text-underline-offset: 1px;
}


.lmbtn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #09396d;
  box-shadow: 0 2px #225e9f; 
  transition: all 0.2s ease; 
}

.lmbtn:active {
  box-shadow: 0 0px; /* Move shadow up to create pressed effect */
  transform: translateY(2px); /* Move the button down slightly */
}

.lmbtn:hover{
  text-decoration: underline 1.5px #fff;
  text-underline-offset: 1px;
}





/* Mobile responsive styling */
@media (max-width: 768px) {
  .home-page {
    padding: 30px 10px;
    max-width: 100%;
  }

  .central-line {
    display: none;
  }

  .content {
    flex-direction: column;
    max-width: 90%;
  }

  .content img {
    width: auto;
    height: 270px;
    margin: 15px 0;
  }

  .content p {
    margin: 0 15px 15px;
    text-align: center;
  }

  .content::before {
    display: none;
  }

  .content:nth-child(odd), .content:nth-child(even) {
    flex-direction: column;
    margin: 15px 0;
  }
  .content h2{
    text-align: center;
    margin-top: 0px;
    padding-bottom: 0px;
    text-decoration: underline 1px #000;
    text-underline-offset: 5px;
    border-bottom: none;
  }
  
  .content p{
    padding: 0 20px;
    margin-top: -10px;
  }
  
  /* .content .buttons {
    margin-bottom: 15px;
    gap: 5px;
  } */

  .content .contentbtn{
    width: 110px;
    margin: 0px 10px;
    padding: 10px 10px;
  }
}




/* course selection last part styling--------------- */

.typesofcourses {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 150px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.typesofcourses p a {
  padding: 20px 40px;
  border: 2px solid black;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.typesofcourses :hover{
  background-color: #333;
  color: #fff;
}

.othercourses {
  /* font-weight: bold; */
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.othercourses p a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.othercourses p a:hover{
  text-decoration: underline;
  
}


@media (max-width: 768px){
  .typesofcourses{
    gap: 20px;
  }
  .othercourses{
    font-size: 15px;
  }
}

/* Footer styles via global footer css */