/* Header styles */
header {
  background-color: #fff;
  text-align: center;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998; 
}

header h1 {
  top: 0;
  font-size: 4rem;
  background-color: #fff;
  color: #000;
  margin-top: 0px;
  font-weight: bold;
}

header .slogan{
  top: 0;
  font-size: 3rem;
  color: #000;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  header h1 {
      margin-top: 0px;
      font-size: 2rem;
  }
  header .slogan{
    font-size: 20px;
  }
}


/* Navigation styles */
nav {
  background-color: #555;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px;
  height: 10px;
  font-weight: bold;
  height: 6px;
}

nav ul li a:hover {
  background-color: #ddd;
  color: black;
}

nav ul li a .brand-logo {
  height: 42px;
  width: 80px;
}

nav ul li .active {
  font-weight: bold;
  color: black;
  background-color: #ddd;
  padding: 0;
}

/* Cart icon and container styles */
#cart-icon {
  cursor: pointer;
  font-size: 1.5em;
  position: fixed;
  top: 0px;
  right: 10px;
  z-index: 1000;
  transition: transform 0.3s, background-color 0.3s; /* Transition for zoom and background color */
  padding: 5px; /* Adding padding to see background color */
  border-radius: 50%; /* Optional: Add border-radius for a circular background */
}

#cart-icon:hover {
  transform: scale(1.2); /* Zoom in effect */
  background-color: #555; /* Change background color on hover */
}

.close-cart:hover {
  color: #ff0000; /* Change color on hover */
}
/* Cart container styles */
.cart-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cart-container h2 {
  margin-bottom: 10px;
}

.close-cart {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  transition: color 0.3s; /* Transition for color */
}

/* home header images styling */
.home-image1 {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

@media (max-width: 768px){
  .home-image1{
    margin-top: 120px;
           
  }
}


/* body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.home-page {
  width: 95%;
  margin-top: 0px;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-page h1,
h2 {
  color: #010802;
}

.home-page h1 {
  margin-top: 0;
  text-align: center;
}

.home-page h2 {
  margin-top: 30px;
}

.home-page p {
  margin: 20px 0;
}

ul {
  margin: 20px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

strong {
  color: #333;
}

em {
  font-style: italic;
  color: #555;
}

/* Footer styles */
footer {
  background-color: #333;
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  text-align: left; /* Ensure text is aligned left */
  color: #ddd;
  font-size: 1.1em;
  font-weight: bold;
}

.footer-right { display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the end */
  text-align: right; /* Ensure text is aligned right */
  color: #ddd;
  font-size: 1.1em;
  font-weight: bold;
}


.footer-mid {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Ensure text is centered */
  flex: 1; /* Allow it to grow to fill available space */
}

.footer-mid p {
  font-weight: bold; 
  color: #ddd;
}

.footer-mid a {
  color: white;
  font-weight: normal;
  font-size: 15px;
  margin: 0 10px;
}

.footer-mid a:hover {
  color: blue;
}

.social-links,
.trading-broker {
  display: flex;
  gap: 15px;
}

.social-links a img,
.trading-broker a img {
  width: 24px;
  height: auto;
  transition: transform 0.3s, opacity 0.3s;
}

.social-links a img:hover,
.trading-broker a img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right,
  .footer-mid {
    align-items: center;
    text-align: center;
  }

  .social-links,
  .trading-broker {
    margin: 0;
  }
}
