
/* Style for each course card */
.course-card {
    background-color: #eeeee6;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 23%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-size: cover; /*added to size the img*/
    background-position: center; /*added to center the img*/
    
    }

.course-card:hover {
    transform: scale(1.05);
    }
            
            
.course-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* margin-bottom: 0px; */
    }

 .course-card h3 {
    font-size: 1.3em;
    /* margin: 10px 0; */
    background-color: #000;
    color: #ddd;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px; /* Slightly rounded corners */
    box-shadow: 0 2px #444; /* Creates the 3D effect */
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    }

.price-container {
    margin: 10px 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; */
    }

.original-price {
    text-decoration: line-through;
    color: darkred;
    
    }
    
.discounted-price {
    color: darkblue;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 10px;
    }

/* .course-card button {
    cursor: pointer;
    border: none;
    background-color: #555;
    color: white;
    padding: 10px;
    width: 100%; 
    position: relative; 
    } */

    .course-card button {
        cursor: pointer;
        border: none;
        background-color: #000;
        color: white;
        padding: 10px;
        width: 100%;
        position: relative; 
        border-radius: 5px; /* Slightly rounded corners */
        box-shadow: 0 4px #444; /* Creates the 3D effect */
        transition: box-shadow 0.1s ease, transform 0.1s ease; /* Smooth transition for the effect */
    }
    
   
    
.course-card .buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add some space between the buttons */
    margin-top: 10px;
    }

    /* Styles for the hover text */
.hover-text {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    /* background-color: #fff;
    opacity: 0.9; */
    color: #000;
    text-align: center;
    padding: 7px;
    width: 80%;
    font-size: 15px;
    border-radius: 5px;
    bottom: 42%; /* Adjust this value to position the text above the button */
    right: -35%;
    transform: translateX(-50%); 
    white-space: nowrap; 
    z-index: 1000; /* Ensure it appears above other elements */
    }
    
    /* Responsive design for smaller screen-------------- */
    @media (max-width: 768px) {
    .course-card {
        /* width: calc(50% - 40px); Adjust the width to fit 2 cards in a row */
        width: 40%;
    }
    }
    
    @media (max-width: 480px) {
    .course-card {
        width: 80%; /* Full width for small screens */
    }
    }